<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Login page</h1>
    <p th:if="${errorMsg}" class="error">Wrong user or password</p>
    <p th:if="${msg}" class="error">logout </p>
    <form th:action="@{/user/login}" method="post">
        <label for="username">Username</label>:
        <input type="text" id="username" name="username"  autofocus="autofocus"/> <br/>
        <label for="password">Password</label>:
        <input type="password" id="password" name="password"/> <br/>
        <input type="submit"/>
    </form>

    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Logout" />
    </form>
</body>
</html>